<h1>{{title}}</h1>
<h3>task</h3>
<hr />
<form [formGroup]="taskForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

  <div class="form-group row">
    <label class=" control-label col-md-12">Name</label>
    <div class="col-md-4">
      <input class="form-control" type="text" formControlName="name">
    </div>
    <span class="text-danger" *ngIf="name?.invalid && formDir.submitted">
            Name is required.
        </span>
  </div>

  <div class="form-group row">
    <label class=" control-label col-md-12">Description</label>
    <div class="col-md-4">
      <input class="form-control" type="text" formControlName="description">
    </div>
    <span class="text-danger" *ngIf="name?.invalid && formDir.submitted">
            Description is required.
        </span>
  </div>

  <div class="form-group row">
    <label class="control-label col-md-12">Last visit</label>
    <div class="col-md-4">
      <input class="form-control" type="text" formControlName="visit">
    </div>
    <span class="text-danger" *ngIf="visit?.invalid && formDir.submitted">
            Last Visit is required
        </span>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Save</button>
    <button class="btn" (click)="cancel()">Cancel</button>
  </div>
</form>
